main{
    display: flex;
    justify-content: center;
}
/* text inside image */
.photo p{
    position: absolute;
    z-index: 2;
    bottom: -.2rem;
    left: 1rem;
    visibility: hidden;
    transition: .2s;
    color: rgb(255, 255, 255);
}
/* pictures */
.top,.btm {
    display: flex;
    width: 90vw;
    justify-content: space-around;
}
.top div, .btm div{
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    filter:grayscale(70%);
    transition: .3s;
}
.btm div{
    width: 28vw;
}
.top div{
    width: 20vw;
}
/* image hover effect */
.top div:hover, .btm div:hover{
    filter: grayscale(0%);
    cursor: pointer;
    transform:scale(1.1);
}
.top div:hover p, .btm div:hover p {
    visibility: visible;
}


/* modal  */
.photomodal img{
    width: 60vw;
    border: white .5rem solid;
    border-radius: 1rem;
}
.modal {
    margin-left: -10%;
 }



@media screen and (max-width:480px) {
  
    .top{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .top div{
        width: 43vw;
    }
    .modal {
        margin-left: 5%;
        margin-top: 25%;
    }
    .photomodal img{
        width: 90vw;
    }
}
