*{
    /* border: 1px solid; */
}

main{
    display: grid;
    justify-content: center;
}
/* breed search */
.breedsearch{
    display: flex;
    height: 35vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-image: url(images/searchbg.jpg);
    background-size: 100% 100%;
    opacity: 0.9;
}
.breedsearch form{
    display: flex;
}
/* breeds */
.breedlist{
    display: grid;
    width: 90vw;
    margin: 0 5vw 0 5vw;
    grid-template-columns: 1fr 1fr;
}
/* sets the flip card size and style */
.flipcards{
    margin:2rem;
}
.flipcardinner {
    text-align: center;
    width: auto;
    height: 40vh;
    transition: transform .8s;
    transform-style: preserve-3d;
}
/* set the image inside flip card to this size and style */
.flipcards img{
    width: 100%;
    height: auto;
    border-radius:1%;
    border: .5rem outset ;
}
.flipcardfront h3{
    background-color: white;
    border: .1rem solid;
    border-radius: 1rem;
    position: absolute;
    top: 90%;
    left: 10%;
    right: 10%;
}
/* set flip card front and back at same position */
.flipcardfront, .flipcardback {
    position: absolute;
    backface-visibility: hidden;
}
/* set flip card back  */
.flipcardback {
    transform: rotateY(180deg);
    height: 100%;
    width: auto;
    padding: 1rem;
    border-radius: 1%;
    border: .5rem  ridge;
    background-color: #ffffff;
}
/* flip card hover effect */
.flipcards:hover .flipcardinner {
    transform: rotateY(180deg);
}
