*{
    /* border: 1px solid; */
}

.breedsearch{
    display: flex;
    height: 45vh;
    align-items: center;
    justify-content: center;
    background-image: url(images/searchbg.jpg);
    background-size: 33% 45vh;
    opacity: 0.9;
}
form button{
    border: .1rem solid;
}

.rightpage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

/* sets the flip card size and style */
.flipcards{
    height: auto;
    width: 40vw;
    background-color: transparent;
    margin:1rem 2rem 1rem 2rem;
    border-radius: 5%;
}
/* set the image inside flip card to this size and style */
.flipcards img{
    width: 40vw;
    height: auto;
    border-radius: 1rem;
    border: .1rem solid;
}
.flipcardfront h3{
    background-color: white;
    border: .1rem solid;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    top: 90%;
    left: 10%;
    right: 10%;
}
.innerimg img{
    float: left;
    width: 100%;
    height: auto;
}

.flipcardinner {
    position: relative;
    text-align: center;
    width: auto;
    height: 40vh;
    transition: transform 1s;
    transform-style: preserve-3d;
}

/* set flip card front and back at same position */
.flipcardfront, .flipcardback {
    position: absolute;
    backface-visibility: hidden;
}

/* set flip card back  */
.flipcardback {
    transform: rotateY(180deg);
    height: 100%;
    padding: 3rem;
    border-radius: 5%;
    border: .5rem black double;
    background-color: #ffffff;
}


/* flip card hover effect */
.flipcards:hover .flipcardinner {
    transform: rotateY(180deg);
}
