main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.photo p{
    position: absolute;
    z-index: 1;
    bottom: -.2rem;
    left: 1rem;
    visibility: hidden;
    transition: .2s;
    color: rgb(255, 255, 255);
}

.top,.btm {
    margin-bottom: 1rem;
    display: flex;
    width: 90vw;
    justify-content: space-around;
}
.top div, .btm div{
    width: 20vw;
    height: auto;
    margin-top: 1rem;
    filter:grayscale(70%);
    transition: .3s;
}
.btm div{
    width: 28vw;
}
.top div:hover p, .btm div:hover p ,.top div:hover, .btm div:hover{
    filter: grayscale(0%);
    cursor: pointer;
    transform:scale(1.1);
    visibility: visible;
}
